<?php

declare(strict_types=1);

return [
    'database' => [
        'dsn' => 'mysql:host=dev02.host.hcu.cloud;port=3306;dbname=u6269176_tp2;charset=utf8mb4',
        'username' => 'u6269176_tp2app',
        'password' => 'REMPLACEZ_MOI',
    ],
    'stripe' => [
        'secret_key' => 'sk_test_xxx',
        'publishable_key' => 'pk_test_xxx',
        'webhook_secret' => '',
    ],
];
